#sp-left .sp-module-title {
    font-size: 1.4em;
    text-transform: capitalize;
    font-weight: 500;
    color: #123374;
    padding: 20px 15px 20px;
    border-bottom: 4px solid #123374;
    /* margin: 0 -15px; */
    position: relative;
    text-align: center;
    background-color: #ffffff;
    /* box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2); */
}

.sp-module .sp-module-title {
    /* margin: 0 0 20px;
    font-size: 14px;
    text-transform: uppercase; */
    line-height: 1;
}

.sp-component {
    padding-bottom: 40px;
    min-height: 300px;
}

/* Layout */
.account-container {
    display: flex;
    background: #fff;
    border: 1px solid #ddd;
    min-height: 500px;
    font-family: Arial, sans-serif;
}

/* Sidebar */
.account-sidebar {
    width: 25%;
    background: #f8f9fa;
    border-right: 1px solid #ddd;
}
.account-sidebar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}
.account-sidebar ul li {
    width: 50%; 
    box-sizing: border-box;
    border-bottom: 1px solid #eee;
}
.account-sidebar ul li a {
    display: block;
    padding: 12px 15px;
    color: #333;
    text-decoration: none;
    font-weight: 500;
}
.account-sidebar ul li.active,
.account-sidebar ul li a:hover {
    background: #002060;
}

.account-sidebar ul li.active a,
.account-sidebar ul li a:hover {
    color: #fff;
}


/* Content */
.account-content {
    flex: 1;
}

/* Tab content */
.tab-content {
    display: none;
    padding: 20px;
}
.tab-content.active {
    display: block;
}

/* Profile banner */
.profile-banner {
    display: flex;
    align-items: center;
    background: #002060;
    color: #fff;
    padding: 20px;
}

.profile-pic-wrapper {
    position: relative;
    display: inline-block;
    width: 80px;
    height: 80px;
}

.profile-pic {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 2px solid #fff;
    background: #1c3a70 url('https://via.placeholder.com/80') center/cover no-repeat;
    overflow: hidden;
}

.profile-pic img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.edit-btn {
    position: absolute;
    bottom: 0px;
    right: -2px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    cursor: pointer;
    box-shadow: 0 1px 3px rgba(0,0,0,0.3);
    padding: 0;
}


.profile-info h3 {
    margin: 0;
    font-size: 18px;
}
.profile-info p {
    margin: 2px 0 0;
    font-size: 14px;
}

/* Details */
.profile-details {
    padding: 20px;
}
.detail-row {
    display: flex;
    align-items: center;
    border-bottom: 1px dotted #ccc;
    padding: 12px 0;
    font-size: 14px;
}
.detail-row span {
    margin-right: 10px;
    font-size: 16px;
}
.detail-row p {
    flex: 1;
    margin: 0;
}
.btn-change {
    background: #e91e1e;
    border: none;
    color: #fff;
    font-size: 12px;
    padding: 5px 10px;
    border-radius: 20px;
    cursor: pointer;
}
.btn-change:hover {
    background: #c31717;
}

/* Update button */
.btn-update {
    background: #e91e1e;
    border: none;
    color: #fff;
    width: 100%;
    padding: 12px;
    margin-top: 20px;
    border-radius: 30px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}
.btn-update:hover {
    background: #c31717;
}

/* Wallet title */
.wallet-title {
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 15px;
    color: #000;
}

/* Wallet tabs */
.wallet-tabs {
    font-size: 30px; 
    display: flex;
    border-bottom: 2px solid #ddd;
    margin-bottom: 20px;
    gap: 40px; 
}


.wallet-tabs a:hover {
    color: #ce1126;          /* red on hover */
}

.wallet-tab {
    flex: 1;
    text-align: center;
    padding: 10px 0;
    font-size: 21px;
    color: #0044cc;
    text-decoration: none;
    font-weight: 500;
    position: relative;
}
.wallet-tab.active {
    color: #d78f22;
    font-weight: 600;
}
.wallet-tab.active::after {
    content: "";
    display: block;
    height: 3px;
    background: #d78f22; /* gold underline */
    position: absolute;
    bottom: -2px;
    left: 0;
    right: 0;
}

.wallet-options {
    display: flex;
    gap: 20px;
    margin: 15px 0;
}

.wallet-option {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 20;
    cursor: pointer;
    padding: 10px 15px;
    border: 2px solid #ddd;
    border-radius: 8px;
    background: #f9f9f9;
    transition: 0.2s;
}

.wallet-option:hover {
    background: #f0f0f0;
    border-color: #0448a8;
}

.wallet-option input {
    accent-color: #0448a8
}


/* Wallet content */
.wallet-content {
    display: none;
    padding: 20px 0;
}
.wallet-content.active {
    display: block;
}
.wallet-subtitle {
    font-size: 19px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #000;
}

/* Buttons */
.wallet-actions {
    display: flex;
    justify-content: center; 
    gap: 5px;
    margin-top: 20px;
}

.btn-cancel, .btn-proceed {
    background: #ce1126;
    color: #fff;
    border: none;
    padding: 12px 40px;
    border-radius: 30px;
    font-size: 18px;
    cursor: pointer;
}
.btn-cancel:hover, .btn-proceed:hover {
    background: #a50e1e;
}
/* Inbox */
.inbox-title {
    font-size: 25px;
    font-weight: 550;
    margin-bottom: 20px;
    color: #000;
    border-bottom: 2px solid #ddd;
    padding-bottom: 8px;
}

/* Ticket Title */
.ticket-title {
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 20px;
    color: #000;
    border-bottom: 2px solid #ddd;
    padding-bottom: 10px;
}

/* Date Filter */
.ticket-filters {
    display: flex;
    align-items: flex-end;
    gap: 20px;
    margin-bottom: 20px;
}
.filter-group {
    display: flex;
    flex-direction: column;
    font-size: 18px;
    font-weight: 600;
    color: #333;
    width:250px;
}
.ticket-date {
    padding: 6px 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 16px;
    margin-top: 5px;
}
.btn-search {
    background: #ce1126;
    color: #fff;
    border: none;
    padding: 10px 25px;
    border-radius: 25px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
    width: 250px;  
}

.tickets-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    gap: 20px;
    font-family: 'Roboto', Arial, sans-serif; 
}


/* Ticket Card */
.ticket-card {
    display: flex;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.05);
    min-height: 180px;
    width: 100%; /* let grid handle width */
    overflow: hidden; /* prevents child overflow */
}

/* Left Side */
.ticket-left {
    flex: 3;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.ticket-left h3 {
    font-size: 15px;
    font-weight: 500;
    color: #000; 
    margin: 0 0 5px;
}

.ticket-id,
.ticket-time {
    font-size: 12px;
    color: #777; 
    margin: 0;
    line-height: 1.4;
}

/* Ticket Price */
.ticket-price {
    margin-top: 10px;
    font-size: 22px;
    font-weight: 600;
    color: #666161;
    margin-left: auto; /* pushes to right inside left section */
}

/* Divider */
.ticket-divider {
    width: 1px;
    background: #ddd;
    position: relative;
}

.ticket-divider::before,
.ticket-divider::after {
    content: "";
    width: 16px;
    height: 16px;
    background: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 50%;
    position: absolute;
    left: -8px;
}
.ticket-divider::before { top: -8px; }
.ticket-divider::after { bottom: -8px; }

/* Right Side */
.ticket-right {
    flex: 1;
    text-align: center;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ticket-right img {
    width: 50px;
    height: 50px;
    margin-bottom: 6px;
}

.ticket-right p {
    font-size: 12px;
    font-weight: 500;
    color: #333; 
    margin: 0;
}


/* Title */
.transaction-title {
    font-size: 25px;
    font-weight: 550;
    margin-bottom: 20px;
    color: #000;
    border-bottom: 2px solid #ddd;
    padding-bottom: 10px;
}

/* Filters */
.transaction-filters {
    display: flex;
    align-items: flex-end;
    gap: 15px;
    margin-bottom: 20px;
    flex-wrap: wrap;
}

.filter-groupp {
    display: flex;
    flex-direction: column;
    font-size: 16px;
    font-weight: 600;
    color: #333;
}

/* Common style */
.transaction-date,
.transaction-select {
    padding: 8px 14px;
    border: 1px solid #ccc;
    font-size: 16px;
    min-width: 300px;
    outline: none;
}

#from-date,
#to-date {
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.transaction-select {
    border-radius: 25px;
}
.ledger-table {
    width: 100%;
    margin-top: 10px;
    font-size: 14px;
    border-collapse: collapse;
}

.ledger-table th, 
.ledger-table td {
    border-top: 1px solid #ddd;  
    border-bottom: 1px solid #ddd;
    border-left: none;       
    border-right: none; 
    padding: 15px;
    font-size: 18px;
    text-align: center;
    color: #333;
}

.ledger-table th {
    font-size: 18px;
    font-weight: bold;
    border-top: none;              
    border-bottom: 3px solid #000;

}

.wager-table {
    width: 100%;
    margin-top: 10px;
    font-size: 14px;
    border-collapse: collapse;
}

.wager-table th, 
.wager-table td {
    border-top: 1px solid #ddd;     
    border-bottom: 1px solid #ddd;
    border-left: none;      
    border-right: none;
    padding: 15px;
    font-size: 18px;
    text-align: center;
    color: #333;
}

.wager-table th {
    font-size: 18px;
    font-weight: bold;
    border-top: none;              
    border-bottom: 3px solid #000;

}

.winning-table {
    width: 100%;
    margin-top: 10px;
    font-size: 14px;
    border-collapse: collapse;
}

.winning-table th, 
.winning-table td {
    border-top: 1px solid #ddd;     
    border-bottom: 1px solid #ddd;
    border-left: none;      
    border-right: none;
    padding: 15px;
    font-size: 18px;
    text-align: center;
    color: #333;
}

.winning-table th {
    font-size: 18px;
    font-weight: bold;
    border-top: none;              
    border-bottom: 3px solid #000;

}


.btn-search {
    background: #ce1126;
    color: #fff;
    border: none;
    padding: 10px 25px;
    border-radius: 25px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 600;
    width: 260px;
}


/* Refer Container */
.refer-friend-title {
    font-size: 25px;
    font-weight: 550;
    margin-bottom: 20px;
    color: #000;
    border-bottom: 2px solid #ddd;
    padding-bottom: 8px;
}

.refer-container {
    padding: 20px;
    font-family: Arial, sans-serif;
}

.refer-tabs {
    display: flex;
    border-bottom: 2px solid #ddd;
    margin-bottom: 20px;
}
.refer-tab.active {
    color: #d78f22;
    border-bottom: 3px solid #d78f22;
    font-weight: 600;
    font-size: 23px;
}
.refer-tab {
    flex: 1;
    text-align: center;
    padding: 10px;
    font-size: 23px;
    color: #0448a8;
    text-decoration: none;
    font-weight: 500;
}

.refer-content { display: none; }
.refer-content.active { display: block; }

.refer-title {
    font-size: 24px;
    color: #0448a8;
    margin: 60px 0 40px;
    text-align: center;
}

.refer-options {
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px;
}

.refer-list {
    display: flex;
    gap: 15px;
    list-style: none;
    padding: 0;
}

.refer-btn {
  flex: 1;
  text-align: center;
  padding: 10px 0;
  font-size: 18px;
  font-weight: 530;
  color: #333333;
  cursor: pointer;
  transition: all 0.3s ease;
}

.refer-btn i {
  display: block;
  font-size: 40px;
  margin-bottom: 0px;
}

.refer-btn.gmail:hover {
  background-color: #d93025; 
  color: #fff;
  border-color: #d93025;
  border-radius:5px;
}

.refer-btn.facebook:hover {
  background-color: #0448a8;
  color: #fff;
  border-color: #0448a8;
  border-radius:5px;
}

.refer-btn.twitter:hover {
  background-color: #1da1f2; 
  color: #fff;
  border-color: #1da1f2;
  border-radius:5px;
}


.refer-copy {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.refer-code,
.refer-link {
    flex: 1;
    padding: 10px ;
    border: 1px solid grey;
    border-radius: 25px;
    font-size: 17px;
    width:100px;
    color: #555555;
    background-color:#e6dfdf;
}
.copy-btn {
    background: #ce1126;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 25px;
    cursor: pointer;
    font-size: 17px;
    font-weight: bold;
}

.copy-btn:hover {
    background: white;
    color: #ce1126;
    border: 3px solid #ce1126;
}

.refer-form {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}
.refer-form input {
    flex: 1;
    padding: 10px;
    font-size:18px;
    border: 1px solid grey;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}
.add-btn {
    background: #ce1126;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 50%;
    cursor: pointer;
    font-weight: bold;
}

/* Invite button */
.invite-btn {
    display: block;
    margin: 60 auto 60px;
    background: #ce1126;
    color: #fff;
    padding: 12px 40px;
    border: none;
    border-radius: 25px;
    font-size: 20;
    font-weight: bold;
    cursor: pointer;
}

/* Note */
.refer-note {
    font-size: 19px;
    color: #555;
    line-height: 1.4;
    text-align: center;
}

.refer_option ul {
    list-style: none;
    display: flex
;
    flex-wrap: wrap;
}

.refer_option ul {
    border: 1px solid #dddddd;
    padding: 15px 10px;
}

 ul {
    margin-top: 0;
    margin-bottom: 1rem;
}

.avatar-upload-form {
    margin-top: 20px;
    padding: 15px;
    background: #f1f1f1;
    border-radius: 5px;
}

.avatar-upload-form .form-group {
    margin-bottom: 10px;
}

.avatar-upload-form .form-actions {
    display: flex;
    gap: 10px;
}

.btn-submit,
.btn-cancel {
    padding: 6px 12px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
}

.btn-submit {
    background-color: #1c3a70;
    color: white;
}

.btn-cancel {
    background-color: #ccc;
    color: black;
}
.transaction-filters{
    display: inherit !important;
}
.transaction-date{
    min-width: 100% !important;
}
.transaction-select{
    min-width: 100% !important;

}